<h1>Hello World</h1>
<form #loginForm="ngForm">
  <label for="name">First Name:</label> <br>
  <input type="text" name="firstname" [(ngModel)]="firstname" required> <br>
  <label for="name">Last Name:</label> <br>
  <input type="text" name="lastname" [(ngModel)]="lastname" required> <br>
  <label for="name">Birthday Of Date:</label> <br>
  <input type="date" name="dob" [(ngModel)]="dob" required> <br>
  <label for="name">Description:</label> <br>
  <input type="text" name="description" [(ngModel)]="description"> <br>
  <input type="submit" value="Add" [disabled]="!loginForm.form.valid" (click)="onLoginSubmit(); loginForm.reset()">
</form>

<div>
  <ul>
    <li *ngFor="let item of dictatorslists; let i = index">
      <span>{{i+1}}</span>
      <p>
        <button (click)="onDel(i)">Del</button>
      </p>
      <p>
        Name:{{item.firstname}},{{item.lastname}}
        BOD:{{item.dob | date:'yyyy-MM-dd'}}
        Description:{{item.description}}
      </p>
    </li>
  </ul>
</div>
